.pagination {
    display: flex;
    gap: 12px;
    margin: 9rem 0;
}

.pagination-buttons {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
    color: var(--black-light);
}

.pagination-buttons:not(.pagination-buttons__disabled) {
    background-color: transparent;
    border: 1.7px solid var(--black-light);
}

.pagination-buttons__disabled {
    background-color: #C6C6C6;
    border: 2px solid #C6C6C6;
    cursor: not-allowed;
}

.pagination-buttons__active {
    background-color: var(--black-light) !important;
    border: 2px solid var(--black-light) !important;
    color: var(--white);
}

.pagination-buttons svg {
    width: 100px;
}

.pagination-buttons p {
    font-weight: 700;
    font-size: 22px;
}

.transform-180deg {
    transform: rotate(180deg);
}