.collage-photos-grid {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "photo1 photo1 photo4"
        "photo2 photo3 photo4"
        "photo5 photo5 photo5"
        "photo5 photo5 photo5";
    padding-bottom: 80px;
}

.photo {
    position: relative;
}

.photo img {
    width: 100%;
}

.photo1 {
	grid-area: photo1;
}

.photo2 {
	grid-area: photo2;
}

.photo3 {
	grid-area: photo3;
}

.photo4 {
	grid-area: photo4;
}

.photo5 {
	grid-area: photo5;
}

.photo2 img,
.photo3 img {
    height: 100.1%;
}

.photo4 img {
    height: 100%;
    object-fit: cover;
}