.content-table {
    border-collapse: collapse;
    width: 615px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content-table tr {
    border-right: 3px solid var(--blue-dark);
}

.content-table th {
    color: var(--white);
    background-color: var(--blue-dark);
    padding: 17px 40px 17px 17px;
}

.content-table tr:first-child th {
    border-top-left-radius: 8px;
}

.content-table tr:last-child th {
    border-bottom-left-radius: 8px;
}

.content-table td {
    padding: 17px 140px 17px 17px;
}

.content-table tr:nth-child(even) td {
    background-color: #DDDCDF;
}

.content-table tr:nth-child(odd) td {
    background-color: #eeeded
}

