.individual-chapter__hero.chapter3 {
    height: calc(70vh - 86px);
    background: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.40)), url('../../../assets/images/chapters/chapter3/background.png') center center/cover no-repeat;
}



