/* --- Section Hero --- */
.hero {
    height: calc(100vh - 11.933rem);
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../../assets/images/home/hero-background.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.hero .container {
    display: flex;
    justify-content: flex-end;
}

.hero__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__action h1 {
    color: var(--white);
    font-size: 8rem;
}

.hero__btn-group {
    width: 32.4rem;
    display: flex;
    position: relative;
    padding: 4.2rem;
    margin-top: 3rem;
    margin-left: 7rem;
    background-color: var(--black);
    font-size: 1.9rem;
    letter-spacing: 0.14rem;
    text-transform: uppercase;
    border-radius: 2rem;
}

.btn--buy {
    position: absolute;
    bottom: 1rem;
    padding: 2.1rem 2.5rem;
    margin-left: -12rem;
    background-color: var(--white);
    color: var(--black);
    border-radius: 2rem;
    transition: all .4s ease;
}

.btn--buy:hover {
    color: var(--blue);
}

.btn--trailer {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    position: absolute;
    right: 3rem;
    bottom: 1.5rem;
    padding: 1.5rem;
    transition: all .4s ease;
}

.btn--trailer:hover {
    opacity: 0.8;
}


/* --- Section Info --- */
.info {
    background-color: var(--black-dark);
}

.info .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 0;
}

.info__content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
}

.info__content p {
    color: var(--gray);
    font-size: 1.5rem;
}


/* --- Section Journey --- */
.journey {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../../assets/images/home/journey-background.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.journey .container {
    display: flex;
    justify-content: flex-end;
}

.journey__content {
    margin-top: 10rem;
    color: var(--white);
}

.journey__content h2 {
    padding-bottom: 2rem;
}


/* --- Section Awards --- */
.awards {
    position: relative;
    background-color: var(--white);
}

.awards__firefly-small {
    position: absolute;
    margin-top: 10rem;
    opacity: 3%;
}

.awards__firefly-small:nth-child(1) {
    left: 8rem;
    transform: rotate(-32.15deg);
}

.awards__firefly-small:nth-child(2) {
    right: 8rem;
    transform: rotate(32.15deg);
}

.awards .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
}

.awards__title {
    margin-top: 10rem;
    color: var(--blue);
}

.awards__score-first-block,
.awards__score-second-block {
    display: flex;
    gap: 10rem;
}

.awards__score-second-block {
    margin-top: 5rem;
}

.awards__score-machinima,
.awards__score-telegraph,
.awards__score-empire,
.awards__score-joistiq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.awards__score-machinima h2:nth-child(1),
.awards__score-telegraph h2,
.awards__score-telegraph,
.awards__score-joistiq,
.awards__score-joistiq h2:nth-child(1),
.awards__score-empire h2,
.awards__score-empire {
    position: relative;
}

.awards__score-machinima h2:nth-child(1)::after {
    content: "";
    width: 250%;
    height: 0.1rem;
    display: block;
    position: absolute;
    bottom: -1.6rem;
    left: -5.8rem;
    background-color: var(--gray);
}

.awards__score-machinima h2:nth-child(2),
.awards__score-telegraph h2,
.awards__score-joistiq h2:nth-child(2),
.awards__score-empire h2   {
    margin-top: 3.5rem;
}

.awards__score-telegraph h2::before {
    content: "";
    width: 125%;
    height: 0.1rem;
    display: block;
    position: absolute;
    bottom: 6.8rem;
    left: -1.8rem;
    background-color: var(--gray);
}

.awards__score-telegraph::before {
    content: "";
    width: 0.1rem;
    height: 100%;
    display: block;
    position: absolute;
    bottom: -0.5rem;
    left: -4.5rem;
    background-color: var(--gray);
}

.awards__score-joistiq h2:nth-child(1)::after {
    content: "";
    width: 250%;
    height: 0.1rem;
    display: block;
    position: absolute;
    bottom: -1.6rem;
    left: -5.8rem;
    background-color: var(--gray);
}

.awards__score-empire h2::before {
    content: "";
    width: 190%;
    height: 0.1rem;
    display: block;
    position: absolute;
    bottom: 6.8rem;
    left: -4.4rem;
    background-color: var(--gray);
}

.awards__score-joistiq::before {
    content: "";
    width: 0.1rem;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0.1rem;
    left: -6.9rem;
    background-color: var(--gray);
}

.awards__score-comment {
    margin-top: 6rem;
    margin-bottom: 8rem;
    text-align: center;
}

