.chapter-card {
    width: 600px;
    height: 338px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    transition: all 1s;
}

.chapter-card:hover {
    transition: all 1s;
}

.chapter-card__info {
    color: var(--gray--light);
    margin-left: 20px;
    height: 100%;
    position: relative;
    transition: all 1s;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    filter: brightness(100%);
}

.chapter-card__title {
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
}

.chapter-card__resume {
    font-size: 15px;
    line-height: 150%;
    margin-top: 18px;
    max-width: 242px;
}

.chapter_card__read {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.chapter-card:hover .chapter-card__info {
    opacity: 1;
    transform: translateY(-8px);
    transition: all 1s;
}

.chapter-card__info img {
    transition: transform 1s;
}

.chapter-card:hover .chapter_card__read:hover img {
    transform: translateX(7px);
}