footer {
    background: radial-gradient(595.85% 79.19% at 43.39% -15.72%, #000 0%, #0D0D0E 100%);
    color: var(--white);
}

footer .container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5rem 0;
}

footer .container > div:nth-child(1) {
    text-align: center;
}

footer .container > div:nth-child(1) p::after {
    content: '';
    width: 100%;
    height: 0.05rem;
    position: absolute;
    top: 45%;
    left: 0;
    background-color: var(--gray);
    opacity: 30%;
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7rem;
}

.footer__copyright-text p:nth-child(2) {
    margin-top: 1.5rem;
}

.footer__copyright-images img:nth-child(1) {
    margin-right: 2rem;
}
