@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@400;500;700&family=Source+Sans+3:wght@300&display=swap');

:root {
    --black: #17151A;
    --black-light: #232126;
    --black-dark: #0B0B0D;
    --white: #F4F2F7;
    --white-light: #FBFAFC;
    --white-dark: #EDEBF0;
    --gray: #9D9D9D;
    --gray--light: #E7E7E7;
    --blue: #2173B1;
    --blue-light: #7EC7FF;
    --blue-dark: #165E95;
    
    --font-roboto: 'Roboto', sans-serif;
    --font-league-gothic: 'League Gothic', sans-serif;
    --font-source-sans: 'Source Sans 3', sans-serif;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: var(--black-dark);
  }
  
  html::-webkit-scrollbar-thumb {
    background: var(--black-light);
  }

body {
    background-color: var(--gray--light);
    color: var(--black);
    font-size: 1.6rem;
    font-family: var(--font-roboto);
}

h1, h2, h3, h4 {
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--font-league-gothic);
}

h1 {
    font-size: 5.6rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.4rem;
}

a {
    color: var(--white);
    font-family: var(--font-roboto);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 134rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 1.8rem;
}

/* ---- Media queries ---- */
@media (max-width: 760px) {
    h1 {
        font-size: 4.2rem;
    }
    
    h2 {
        font-size: 3.6rem;
    }
    
    h3 {
        font-size: 2.4rem;
    }
    
    h4 {
        font-size: 1.8rem;
    }
}