@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@400;500;700&family=Source+Sans+3:wght@300;700&display=swap');

:root {
    --black: #17151A;
    --black-light: #232126;
    --black-dark: #0B0B0D;
    --white: #F4F2F7;
    --white-light: #FBFAFC;
    --white-dark: #EDEBF0;
    --gray: #9D9D9D;
    --gray--light: #E7E7E7;
    --gray-dark: #767676;
    --blue: #2173B1;
    --blue-light: #7EC7FF;
    --blue-dark: #165E95;
    
    --font-roboto: 'Roboto', sans-serif;
    --font-league-gothic: 'League Gothic', sans-serif;
    --font-source-sans: 'Source Sans 3', sans-serif;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}
  
  html::-webkit-scrollbar-track {
    background: var(--gray-dark);
}
  
  html::-webkit-scrollbar-thumb {
    background: var(--black-light);
}

body {
    background-color: var(--gray--light);
    color: var(--black);
    font-size: 1.6rem;
    font-family: var(--font-roboto);
}

h1, h2, h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--font-league-gothic);
}

h1 {
    font-size: 5.6rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.4rem;
}

a {
    color: var(--white);
    font-family: var(--font-roboto);
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

figcaption {
    text-align: center;
    color: var(--gray-dark);
    font-weight: 700;
    font-size: 14px;
}

.container {
    max-width: 134rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 1.8rem;
}

/* ---- Chapters ---- */
.chapter__main-image {
    width: 814px;
    height: 100%;
    margin: 10px 0 10px 0;
}

.chapter__main-image img {
    width: 100%;
    border-radius: 8px;
}

.chapter__main-intro {
    margin-top: 60px;
}

.chapter__main-intro p {
    margin-top: 20px;
}

.chapter__main-content {
    max-width: inherit;
    padding: 0 18px;
}

.individual-chapter__hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.individual-chapter__main .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
    text-align: justify;
    line-height: 24px;
}

.individual-chapter__main ul {
    margin-left: 20px;
}

.individual-chapter__main audio {
    margin-top: 20px;
    border: 1px solid var(--black);
    border-radius: 30px;
}


/* ---- Media queries ---- */
@media (max-width: 760px) {
    h1 {
        font-size: 4.2rem;
    }
    
    h2 {
        font-size: 3.6rem;
    }
    
    h3 {
        font-size: 2.4rem;
    }
    
    h4 {
        font-size: 1.8rem;
    }
}